altgraph==0.17.4
beautifulsoup4==4.12.3
certifi==2024.2.2
charset-normalizer==3.3.2
colorama==0.4.6
contourpy==1.2.1
cycler==0.12.1
et-xmlfile==1.1.0
fonttools==4.51.0
idna==3.7
kiwisolver==1.4.5
lxml==4.9.4
matplotlib==3.8.4
networkx==3.4.2
numpy==1.26.4
opencv-python==4.9.0.80
openpyxl==3.1.2
packaging==24.0
pandas==2.2.2
pefile==2023.2.7
pillow==10.3.0
pyinstaller==6.6.0
pyinstaller-hooks-contrib==2024.5
pyparsing==3.1.2
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
pyqtgraph==0.13.7
python-dateutil==2.9.0.post0
pytz==2024.1
pywin32-ctypes==0.2.2
requests==2.31.0
requests-futures==1.0.1
setuptools==69.5.1
six==1.16.0
soupsieve==2.5
tqdm==4.66.2
tzdata==2024.1
urllib3==2.2.1
yahooquery==2.3.7
